// @-webkit-keyframes matched {
//     from {
//         -webkit-transform: scale(1);
//         transform: scale(1);
//         -webkit-transform-origin: center center;
//         transform-origin: center center;
//         -webkit-animation-timing-function: ease-out;
//         animation-timing-function: ease-out;
//     }
//     10% {
//         -webkit-transform: scale(0.91);
//         transform: scale(0.91);
//         -webkit-animation-timing-function: ease-in;
//         animation-timing-function: ease-in;
//     }
//     17% {
//         -webkit-transform: scale(0.98);
//         transform: scale(0.98);
//         -webkit-animation-timing-function: ease-out;
//         animation-timing-function: ease-out;
//     }
//     33% {
//         -webkit-transform: scale(0.87);
//         transform: scale(0.87);
//         -webkit-animation-timing-function: ease-in;
//         animation-timing-function: ease-in;
//     }
//     45% {
//         -webkit-transform: scale(1);
//         transform: scale(1);
//         -webkit-animation-timing-function: ease-out;
//         animation-timing-function: ease-out;
//     }
// }
// @keyframes matched {
//     from {
//         -webkit-transform: scale(1);
//         transform: scale(1);
//         -webkit-transform-origin: center center;
//         transform-origin: center center;
//         -webkit-animation-timing-function: ease-out;
//         animation-timing-function: ease-out;
//     }
//     10% {
//         -webkit-transform: scale(0.91);
//         transform: scale(0.91);
//         -webkit-animation-timing-function: ease-in;
//         animation-timing-function: ease-in;
//     }
//     17% {
//         -webkit-transform: scale(0.98);
//         transform: scale(0.98);
//         -webkit-animation-timing-function: ease-out;
//         animation-timing-function: ease-out;
//     }
//     33% {
//         -webkit-transform: scale(0.87);
//         transform: scale(0.87);
//         -webkit-animation-timing-function: ease-in;
//         animation-timing-function: ease-in;
//     }
//     45% {
//         -webkit-transform: scale(1);
//         transform: scale(1);
//         -webkit-animation-timing-function: ease-out;
//         animation-timing-function: ease-out;
//     }
// }
@keyframes zoomAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    perspective: 1000px;
}
.card {
    position: relative;
    transition: transform 0.5s ease;
    box-sizing: border-box;
    &__back {
        width: 95px;
        height: 133px;
        border-radius: 4px;
        width: 95px;
        backface-visibility: hidden;
        transform: rotateY(0);
        transition: transform 500ms ease-in-out;
    }

    &__front {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95px;
        height: 133px;
        background-color: $white-color;
        color: rgba(0 0 0 / 10000%);
        font-size: 24px;
        line-height: 24px;
        border-radius: 4px;
        position: absolute;
        top: 0;
        left: 0;
        transform: rotateY(180deg);
        backface-visibility: hidden;
        transition: transform 500ms ease-in-out;
        box-sizing: border-box;
    }
    &__top-left,
    &__down-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
    }

    &__top-left {
        top: 5px;
        left: 6px;
    }

    &__down-right {
        transform: rotate(180deg);
        align-self: end;
        bottom: 5px;
        right: 6px;
    }

    &__center-suit {
        position: absolute;
    }

    .small-suit {
        display: inline-block;
        display: flex;
        width: 6px;
        height: 6px;
    }
}
.card.visible .card__back {
    transform: rotateY(180deg);
}

.card.visible .card__front {
    transform: rotateY(0deg);
}

.card.matched {
    // -webkit-animation: matched 1.5s ease-in-out both;
    // animation: matched 1.5s ease-in-out both;
    animation: zoomAnimation 0.3s ease-in-out;
}
