$bg-color: rgba(0, 73, 128, 1);
$box-bg-color: rgba(194, 245, 255, 1);
$text-color: rgba(0, 128, 193, 1);
$btn-color: rgba(122, 193, 0, 1);
$white-color: rgba(255, 255, 255, 1);
$btn-hover: rgb(139, 205, 26);
