$bg-color: rgb(0 73 128 / 100%);
$box-bg-color: rgb(194 245 255 / 100%);
$text-color: rgb(0 128 193 / 100%);
$btn-color: rgb(122 193 0 / 100%);
$white-color: rgb(255 255 255 / 100%);
$btn-hover: rgb(139 205 26);
